// Typography
@font-face{
    font-family: 'Sofia Pro';
    src: '.resources/assets/font/Sofia-Pro-Black.otf';
}

// Colors
$white: #ebebeb;
$black: #1E2326;
$blue: #00E0E9;
$brown: #CB8E55;

// Theme colors
$primary: $blue;
$secondary: $brown;

// Font Size
$font-size-small:0.8rem;
$font-size-regular:0.9rem;
$font-size-medium:1.2rem;
$font-size-semi-large:1.8rem;
$font-size-large:4rem;

// Font weight
$font-weight-x-light:300;
$font-weight-light:400;
$font-weight-medium:500;
$font-weight-regular:600;
$font-weight-bold:700;
