// Typography
@font-face{
    font-family: 'Sofia Pro';
    src: '.resources/assets/font/Sofia-Pro-Black.otf';
}

// Colors
$white: #ebebeb;
$black: #1E2326;
$blue: #00E0E9;
$brown: #CB8E55;

// Theme colors
$primary: $blue;
$secondary: $brown;

// Font Size
$font-size-small:10px !important;
$font-size-regular:16px;
$font-size-large:20px;

// Font weight
$font-weight-x-light:300;
$font-weight-light:400;
$font-weight-medium:500;
$font-weight-regular:600;
$font-weight-bold:700;
