// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    ::before,
    ::after{
            margin: 0px;

    }
}
body{
    background: $black;
    position: relative;
    font-family: Sofia Pro !important;
}

.verticle-lines{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
}
.verticle-line{
    border-left: 1px solid white;
    height: 100vh;
    opacity: 0.1;
    position: sticky;
    top: 0;
}
.heading-light{
    font-size: 0.8rem;
    color: $primary;
    font-weight:$font-weight-x-light;
    letter-spacing: 4px;
}
.heading-bold{
    font-size: 4rem;
    color: $white;
    font-weight:$font-weight-bold;
}
.para{
    font-size: 0.9rem;
    color: $white;
    font-weight:$font-weight-x-light;
    line-height: 1.3rem;
}
.button-link{
    font-size: 0.8rem;
    color: $white;
    font-weight:$font-weight-bold;
    letter-spacing: 4px;
}
