// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import 'bootstrap-4-grid/scss/grid';

*{
    margin: 0px;
    cursor: none !important;
    ::before,
    ::after{
        margin: 0px;
    }
}



// hide scrollbar
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

//cursor
// body{
//     cursor: none !important;

// }
body .cursor {
pointer-events: none !important;
}
body .cursor__ball {
position: fixed;
z-index: 9999999;
top: 0;
left: 0;
mix-blend-mode: difference;
}
body .cursor__ball circle {
fill: #f7f8fa;
}


// change selection colors
::-moz-selection { /* Code for Firefox */
    color: $white;
    background: $secondary;
}

::selection {
    color: $white;
    background: $secondary;
}

//container
.theme-container{
    width: 88.8%;
    margin-right: auto;
    margin-left: auto;
}

body{
    background: $black;
    font-family: Sofia Pro !important;


}

//verticle background lines
.verticle-lines{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
    .verticle-line{
        border-left: 1px solid white;
        height: 100vh;
        opacity: 0.1;
        flex:2;
    }
    .verticle-line:nth-child(1),.verticle-line:nth-child(6){
        flex: 0.5;
    }
}



//fonts size
.heading-light{
    font-size: $font-size-small;
    color: $primary;
    font-weight:$font-weight-x-light;
    letter-spacing: 4px;
    margin-bottom: -20px;
    padding: 0 0 0 5px;
}
.heading-bold{
    font-size: $font-size-large;
    color: $white;
    font-weight:$font-weight-bold;

}
.para{
    font-size: $font-size-regular;
    color: $white;
    font-weight:$font-weight-x-light;
    line-height: 1.3rem;
}
.quote-para , .tool-name{
    font-size: 1.3rem;
    color: $white;
    font-weight:$font-weight-medium;
    line-height: 1.5rem;
}
//button font
.button-link, .button-text{
    font-size: $font-size-small;
    color: $white;
    font-weight:$font-weight-bold;
    letter-spacing: 4px;
}
